In [50]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\martin\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\martin\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [108]:
import mysql.connector as connector

In [114]:
# Configuring MySQL connector:
# Connect python with MySQL Â 
connection = connector.connect(user = "Martin", password = "XXX", db = "XXX") 
# Get cursor object
cursor = connection.cursor(buffered=True)

In [115]:
# Execute basic query
cursor.execute("""SHOW TABLES""")

# Fetch all the matching rows
result = cursor.fetchall()
print(result)

[('bookings',), ('confirmations',), ('customers',), ('employees',), ('menuitems',), ('menus',), ('orders',), ('ordersview',)]

In [143]:
# Execute select statement
cursor.execute("""SELECT * FROM Orders;""")
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Order" table:""")
print(cols)

for element in results:
    print(element) # Returns tuples

Data in the "Order" table:
('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity', 'CustomerID')
(1, 12, 1, 1, 86, 2, 2)
(2, 19, 2, 2, 237, 1, 4)
(4, 5, 3, 4, 40, 1, 6)
(5, 8, 1, 3, 83, 4, 1)

In [145]:
# Execute select statement with condition
cursor.execute("""SELECT * FROM Orders WHERE BillAmount > 60;""")
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Order" table:""")
print(cols)

for element in results:
    print(element) # Returns tuples

Data in the "Order" table:
('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity', 'CustomerID')
(1, 12, 1, 1, 86, 2, 2)
(2, 19, 2, 2, 237, 1, 4)
(5, 8, 1, 3, 83, 4, 1)

In [150]:
# Execute select statement with Join
cursor.execute("""SELECT Customers.CustomerID, Customers.FullName, Customers.Contact_Number, Customers.Email, Orders.BillAmount FROM Customers INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID WHERE BillAmount > 60;""")
results = cursor.fetchall()

# Retrieve column names
cols = cursor.column_names

# Print column names and records from results using for loop
print("""Data in the "Order" table:""")
print(cols)

for element in results:
    print(element) # Returns tuples

Data in the "Order" table:
('CustomerID', 'FullName', 'Contact_Number', 'Email', 'BillAmount')
(2, 'Vanessa Hog-Traumpasten', 49333344, 'vanessa@gmail.com', 86)
(4, 'Joakim McGyaver', 433488277, 'joakim@gmail.com', 237)
(1, 'Anna Kiesel', 436748822, 'anna@gmail.com', 83)